.App {
  text-align: center;
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pen{
  text-decoration: underline;
  font-size: 5%;
  font-size: large;
  color:gold;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.constainer{
  font-size: large;
}

.div1{
  float:left;
  color:black;
  width:30%;
  height:100%;
 align-items: center;
 justify-content: center; 
}
.typo{
  font-size: large;
  margin-right: 18%;
}
.skill{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 50px 50px;
  text-decoration: underline;

}
.span{
  color: gold;
  font-size: large;
}
.div4{
  
margin:0% 20% 0% 35%;
}
.div2{
float: right;
width: 70%;
margin:-55% 0% 0% 45%;
}
@media(max-width:700px){
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 50%;
    background-attachment: fixed;
    background-image: linear-gradient(to right,rgb(154 154 154) 30%,#ffffff 9%);
  background-repeat: no-repeat;
  background-size: cover;
  }
  

  .constainer{
    font-size: large;
  }
  
  
.div1{
  float:left;
  color:black;
  width:30%;
  height:100%;
 align-items: center;
 justify-content: center; 
 
}

.div2{
  float: right;
  width: 70%;
  margin:-1% -45% 0% 5%;
  align-items: center;
  }
  
.skill{
  display: grid;
  grid-template-columns: 1fr 100px 100px 100px 100px ;
  grid-template-rows: 50px  50px 50px;
  text-decoration: underline;

}

.typo{
  font-size: large;
  margin-right: 38%;
}

.div4 {
  
  margin:0% 20% 0% 5%;
  }
}